<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}ExpenseAnazlyzer{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.128x128.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header">
        <span><a class="username" href="/">Welcome, {{ current_user.username }}!</a></span>

        <span class="header-conversion-rate">CAD/USD Exchange Rate Forecast: {{ cad_usd_forecast }}  </span>
        <form id="expense-form" method="POST" action="{{ url_for('auth.logout') }}">
            <button type="submit" id="submit-button">logout</button>
        </form>
    </div>
    <hr>
    <div>{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/interaction_handler.js') }}" defer></script>
</body>
</html>