{% extends "base.html" %}
{% block title %}Edit Expense{% endblock %}
{% block content %}
    <h2>Edit Expense</h2>
    <form id="edit-expense-form" method="POST" class="form-inline">
        <label>Name:</label>
        <input type="text" name="name" value="{{ expense.name }}" required>

        <label>Amount:</label>
        <input type="number" name="amount" step="0.01" value="{{ expense.amount }}" required>

        <label>Category:</label>
     <select name="category" id="category-dropdown" required>
    <option value="Food" {% if expense.category == 'Food' %}selected{% endif %}>Food</option>
    <option value="Travel" {% if expense.category == 'Travel' %}selected{% endif %}>Travel</option>
    <option value="Entertainment" {% if expense.category == 'Entertainment' %}selected{% endif %}>Entertainment</option>
    <option value="Other" {% if expense.category == 'Other' %}selected{% endif %}>Other</option>
     </select>


        <label>Date:</label>
        <input type="date" name="date" value="{{ expense.date }}" required>

        <div style="display: inline-flex; gap: 10px; margin-top: 10px;">
            <button id="edit-expense-submit-button" type="submit">Save Changes</button>
        </div>
    </form>

    <form id="cancel-edit-expense-form" action="{{ url_for('expenses.view_expenses') }}" class="form-inline">
        <button id="cancel-edit-expense-button" type="submit">Cancel</button>
    </form>
{% endblock %}
