<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register - ExpenseAnalyzer</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.128x128.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-page">
    <header>
        <h1 class="app-title"><a href="/" style="text-decoration: none; color: inherit;">ExpenseAnalyzer</a></h1>
    </header>
    <div class="auth-container">
        <div class="auth-image">
            <img src="{{ url_for('static', filename='logo.512x512.png') }}" alt="ExpenseAnalyzer Logo">
        </div>
        <div class="auth-form">
            <h2>Register</h2>
            <form id="register-form" method="POST" action="{{ url_for('auth.register') }}">
                {{ form.hidden_tag() }}
                <label>Username:</label> {{ form.username }}
                <label>Email:</label> {{ form.email }}
                <label>Password:</label> {{ form.password }}
                <label>Confirm Password:</label> {{ form.confirm_password }}
                <button id="register-submit-button" type="submit">Register</button>
            </form>
            <p>Already have an account? <a class="auth-link" href="{{ url_for('auth.login') }}">Login here</a></p>
        </div>
        <div id="flash-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message|safe }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/interaction_handler.js') }}" defer></script>
</body>
</html>